.alpaca-preview-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.alpaca-button {
    width: 40%;
    margin: 10px;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.alpaca-button:hover {
    background-color: #e2e8f0;
}
